<!doctype html>
<html>
<head>
    <title>Cricket Academy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
    <h1>Cricket Academy</h1>
    <nav>
        <a href="{{ url_for('players_list') }}">Players</a>
    </nav>
</header>
<main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
